.Wrap { }

.header { line-height: 60px; background: #000; }
.header .container {
    display: flex;
    width: 1450px;
    margin: 0 auto;
    align-items: center;
    color: #fff;
}

.header .gnb { margin: 0 auto;}
.header .gnb>ul { display: flex; font-size: 19px; font-weight: 500;}
.header .gnb>ul>li { position: relative; padding: 0 25px; }
.header .gnb>ul>li a { display: block; padding: 0 25px; }
.header .gnb>ul ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 50%;
    z-index: 999;
    width: 180px;
    line-height: 40px;
    transform: translateX(-50%);
    text-align: center;

    background: #000;
    font-size: 15px;
    font-weight: 300;;
}
.header .gnb>ul>li:hover ul { display: block; }
.icon i {
    margin-right: 20px;
    font-size: 21px;
    font-weight: 500;
}
.mbtn {
    display: none;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 10px;
    padding: 5px;
    line-height: 1;
}

.header .container img {width: 100px;}
.header .noticeSlider {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.header .noticeSlider .info {display: flex;}
.header .noticeSlider .info p {margin-right: 170px;}
.header .noticeSlider .info span { padding-right: 16px;}

.main {}
.mainVisual { position: relative; width: 100%; margin: 0 auto;}

.main .img_box img {
    width: 100%;
    height:100vh;
    filter: brightness(0.5);
    object-fit: cover;
}

.mainVisual .slogan {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    transform: translateY(-10%);

    text-align: center;
    color: #fff;
    transition: all 0.8s;
}

.slogan h2 {
    font-size: 91px;
    font-weight: 700;
    margin-bottom: 20px;
}
.slogan p {
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
}

.new { position: relative; padding: 100px 0; }
.new .bgProduct {
    display: flex;
    width: 1450px;
    margin: 0 auto;
    justify-content: space-around
}

.new .basicSlider { width: 620px; }
.new .basicSlider img { max-width: 100%; }  
.new .bgInfo { text-align: left; padding: 100px 0; }

.new .bgInfo h3 {
    font-size: 49px;
    font-weight: 700;
    margin-bottom: 15px;
}
.new .bgInfo span {
    display: block;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
    color:  #6666ff;
}
.new .bgInfo strong {
    display: inline-block;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 55px;
    letter-spacing: -1px;
}
.new .bgInfo p {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}

.new .bkProduct{
    display: flex;
    width: 1450px;
    margin: 0 auto;
    justify-content: space-around
}

.new .blackSlider {
    width: 620px;
}

/*  */
.back {

}

.button_base {
    margin: 0;
    border: 0;
    font-size: 18px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: 250px;
    height: 50px;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-user-select: none;
    cursor: default;
}

.button_base:hover {
    cursor: pointer;
}

.b05_3d_roll {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
}

.b05_3d_roll div {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border: #6666ff solid 3px;
    pointer-events: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.b05_3d_roll div:nth-child(1) {
    color: #6666ff;
    background-color:#6666ff;
    transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b05_3d_roll div:nth-child(2) {
    color: #000000;
    background-color: #ffffff;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform-origin: 50% 50% -25px;
    -webkit-transform-origin: 50% 50% -25px;
    -moz-transform-origin: 50% 50% -25px;
}

.b05_3d_roll:hover div:nth-child(1) {
    color: #ffffff;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
}

.b05_3d_roll:hover div:nth-child(2) {
    background-color: #000000;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
}













/*  */

.new .bkProduct .bkInfo { text-align: right; padding: 100px 0; }
.new .bkInfo span {
    display: block;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 15px;
}
.new .bkInfo h4 {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 55px;
}
.new .bkInfo strong {
    display: inline-block;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 55px;
}
.new .bkInfo p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 22px;
}

.new .bkInfo .bkBuy a{
    padding: 12px 50px;
    font-size: 13px;
    font-weight: 400;
    border: 2px solid #6666ff;
}

.sonyStore { padding: 0 0 100px 0; }

.sonyStore .container {
    display: flex;
    width: 1500px;
    margin: 0 auto;
}

.sonyStore .left {width: 80%; overflow: hidden; }

.sonyStore .right {
    position: relative;
    width: 100%;
    padding: 100px 0;
    overflow: hidden;
    cursor: url(../img/arrow_r.1db549d7.cur),pointer;
    padding-left: 80px;
}

.sonyStore .right figure { margin-bottom: 30px; }

.sonyStore .rightSlider strong {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;
}

.sonyStore .rightSlider span {
    font-size: 13px;
    font-weight: 300;
}

.l_arrow i {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 0;
    z-index: 999;
}

.l_arrow h3 {
    font-size: 51px;
    font-weight: 700;
}

.right .bar {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    margin: 0 auto;
    background: #ddd;
    overflow: hidden;
}

.right .bar span {
    position: absolute;
    width: 25%;
    height: 100%;
    background:  #6666ff;
    transition: 0.4s;
}


.footer {
    padding: 100px 0;
    background-color: #000;
}

.footer .container {
    width: 1400px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .header { line-height: 60px; background: #000; }
    .header .container { display: flex; width: auto; margin: 0 auto; }

    .header h1 {margin-left: 30px;}

    .header .gnb {
        position: fixed;
        padding: 80px 0 0 0;
        top: 0;
        left: -100%;
        width: calc(100% - 90px);
        height: 100vh;

        color:#fff;
        background-color: #000;
        border-right: 1px solid #ddd;
        transition: left 0.5s;
        z-index: 999;
    }

    .header .gnb.on{ left: 0;}
    
    .header .gnb>ul { display: flex; font-size: 23px; font-weight: 600; flex-direction: column}
    .header .gnb>ul>li { position: relative;}
    .header .gnb>ul>li a {display: block; padding: 0 25px;}

    .header .gnb>ul ul {
        display: flex;
        flex-direction: column;
    }
    .header .gnb .smenu {
        position: static;
        top: 90px;
        left: 50%;
        display: none;
        line-height: 35px;
        
        width: auto;
        text-align: left;
        transform: translateX(0);
        border:none;
        z-index: 999;
    }
    .header .gnb>ul>li:hover .smenu {
        display: none;
        opacity: 1;
        visibility: visible;
        transition: 1s;
    }
    .icon i {
        display: none;
        margin-right: 20px;
        font-size: 21px;
        font-weight: 500;
    }
    .mbtn {display: block; position: fixed; top: 0; right: 0; }
    .mainVisual {position: relative;}
    .main .img_box img { height: 1000px; }



    .new { position: relative; padding: 0; }
    .new .bgProduct {
    margin: auto 30px;
    padding: 20px 0;
    flex-direction: column;
    }

    .new .basicSlider { width: 620px; }
    .new .basicSlider img { max-width: 70%;}  
    .new .bgInfo { display: block; text-align: left; padding: 50px 0; }

    .new .bkProduct{
        margin: auto 30px;
        padding: 20px 0;
        margin-bottom: 100px;
        flex-direction: column;
    }

    .new .blackSlider {width: 620px;}
    .new .bkProduct img { max-width: 70%; }
    .new .bkProduct .bkInfo { position: relative; display: block; text-align: left; padding: 50px 0; }

    .new .back {
        position: absolute;
        top: 85%;
        left: -6%;
    }
    
    .sonyStore { padding: 0 0 100px 0; }
    .sonyStore .container {
    display: flex;
    width: 1500px;
    margin: 0 auto;
    }

    .sonyStore .left {width: 80%; overflow: hidden; }
    .sonyStore .right {
    position: relative;
    width: 100%;
    padding: 100px 0;
    overflow: hidden;
    cursor: url(./img/arrow_r.1db549d7.cur),pointer;
    padding-left: 80px;
    }

    .sonyStore .right figure { margin-bottom: 30px; }

};
