.Wrap { }

.header {
    position: relative;
    background: #000;
    color: #fff;
}

.header .container {
    display: flex;
    width: 1400px;
    padding: 5px 0;
    margin: 0 auto;
    align-items: center;
}

.header .container img {width: 163px; height: 30px;}

.header .notice_slider {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.header .notice_slider .info {display: flex;}
.header .notice_slider .info p {margin-right: 170px;}
.header .notice_slider .info span { padding-right: 16px;}

.header .gnb { display: block; margin-right: 40px;}
.header .gnb>ul { display: flex; }
.gnb>ul>li:nth-child(1){ margin-right: 40px;}
.gnb .mopen { display:block; }


.main {}
.mainVisual { position: relative; width: 1500px; margin: 0 auto;}
.mainVisual img {
    width: 100%;
    height:100%;
    filter: brightness(0.5);}

.mainVisual .slogan {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    transform: translateY(-10%);

    text-align: center;
    color: #fff;
    transition: all 0.8s;
    /* filter: drop-shadow(2px 2px 6px #333); */
}

.slogan h2 {
    font-size: 91px;
    font-weight: 700;
    margin-bottom: 20px;
}
.slogan p {
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
}

.new {
    position: relative;
}

.new .bg_product {
    display: flex;
    width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
}

.new .bg_product .basic_slider {
    width: 600px;
    padding: 50px 0;
    margin-left: 50px;
}

.new .bg_product .basic_slider img {
    max-width: 100%;
}   

.new .bg_product .bg_info {
    margin-right: 50px;
    padding: 100px auto 0 auto;
    text-align: left;
    transform: translateY(25%);
    transition: all 0.8s;
}

.new .bg_info h3 {
    font-size: 47px;
    font-weight: 700;
    margin-bottom: 20px;
}
.new .bg_info span {
    display: block;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 40px;
    color:  #6666ff;
}
.new .bg_info strong {
    display: inline-block;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 55px;
    letter-spacing: -1px;
}
.new .bg_info p {
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
}

.color { position: relative; }

.color .bk_product{
    display: flex;
    width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
}

.color .bk_product .black_slider {
    width: 600px;
    padding: 0 0 50px 0;
    margin-right: 50px;
}

.color .bk_product .black_slider img {
    max-width: 100%;
}   

.color .bk_product .bk_info {
    margin-right: 50px;
    padding: 100px auto 0 auto;
    text-align: right;
    transform: translateY(25%);
    transition: all 0.8s;
}
.color .bk_info span {
    display: block;
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 20px;
}
.color .bk_info h4 {
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 55px;
}
.color .bk_info strong {
    display: inline-block;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 55px;
}
.color .bk_info p {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 50px;
    line-height: 22px;
}

.color .bk_info .bk_buy a{
    padding: 15px 55px;
    font-size: 13px;
    font-weight: 400;
    border: 2px solid #6666ff;
}

.sonyStore {
    padding: 0 0 100px 0;
}

.sonyStore .container {
    display: flex;
    width: 1500px;
    margin: 0 auto;
}

.sonyStore .container .left {
    width: 80%;
    overflow: hidden;
}

.sonyStore .container .right {
    position: relative;
    width: 100%;
    padding: 100px 0;
    overflow: hidden;
    cursor: url(/img/arrow_r.1db549d7.cur),pointer;
    padding-left: 80px;
}

.sonyStore .container .right figure {
    margin-bottom: 30px;
}

.sonyStore .right_slider strong {
    display: block;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 7px;
}
.sonyStore .right_slider span {
    font-size: 13px;
    font-weight: 300;
}



.l_arrow i {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 0;
    z-index: 999;
}

.l_arrow h3 {
    font-size: 51px;
    font-weight: 700;
}


.right .bar {
    position: relative;
    display: block;
    width: 100%;
    height: 4px;
    margin: 0 auto;
    background: #ddd;
    overflow: hidden;
  }
  .right .bar span {
    position: absolute;
    width: 25%;
    height: 100%;
    background:  #6666ff;
    transition: 0.4s;
  }


  .footer {
    padding: 100px 0;
    background-color: #000;
  }

  .footer .container {
    width: 1400px;
    margin: 0 auto;
  }